/* 
body{
    text-align: center;
    background-image: url(pexels-jess-bailey-designs-1097930.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
} */

body{
    text-align: center;
    margin: 0px;
}

.top-container{
    height: 100vh;
    position: relative;
    background-image: url(pexels-vojtech-okenka-390392.jpg);
    background-size: 1350px;
    
}

hr{
    margin: 0px;
}

.all-containers{
    background-color: #BC9E82;
}

.intro{
    margin-top: 0px;
    margin-bottom: 25%;
    color: crimson;
}

.name{
    margin-top: 0px;
    padding-top: 250px;
}

img{
    margin-top: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
}

